.maincontent {
  margin: 0;
  padding: 0;
  top: 0;
  position: relative; /* Cambiado a relative para que no se salga de la página */
  overflow: hidden;
  overflow-x: hidden;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-top: 9rem;
}

.mainflex {
  display: flex;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas más pequeñas */
  gap: 1rem;
}

.image-container1 {
  flex: 2;
  position: relative;
  overflow: hidden;
}

.image-container2,
.image-container3 {
  flex: 1;
  position: relative;
  overflow: hidden;
}

.photo1,
.photo2,
.photo3 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: filter 0.3s ease-in-out;
  display: block;
}

.image-text {
  margin: 0.5rem;
  color: black;
  padding: 0.5rem;
  position: absolute;
  bottom: 0;
  left: 0;
}

.photo1:hover,
.photo2:hover,
.photo3:hover {
  filter: brightness(80%);
}

.ourproducts {
  margin-top: 1rem;
}

.mainflexproducts {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem; /* Reducido el espacio entre elementos */
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-bottom: 2rem;
}

.mainproducts {
  flex: 1; /* Ocupa todo el ancho disponible */
}

.productimages {
  width: 100%; /* Ajustado para ocupar todo el ancho del contenedor padre */
  max-width: 18.75rem; /* Ancho máximo */
  max-height: 28.125 rem;
  height: auto;
}

.productimages:hover {
  filter: brightness(80%);
}

@media (max-width: 550px) {
  .mainflex {
    justify-content: center; /* Centrar elementos en pantallas más pequeñas */
  }
}
