.cartcomponentmain {
  background-color: white;
  position: fixed;
  top: 0;
  right: -100%;
  width: 35%;
  height: 150svh;
  display: block;
  flex-direction: column;
  z-index: 100;
  transition: right 0.5s ease-in-out;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.cart-products {
  margin-top: 1.5rem;
  overflow-y: auto;
  overflow-x: hidden;
  height: 65svh;
  width: 100%;
}

.cartcomponentmain.slide-in {
  right: 0;
}

.cartcomponentmain.slide-out {
  right: -100%;
}

.close-cart {
  margin-left: auto;
  width: 1.75rem;
  margin-top: 2.1rem;
  margin-right: .65rem;
}

hr.rounded {
  width: 100%;
  background-color: black;
  border-top: 2px solid;
  border-radius: 5px;
}

.checkout {
  position: fixed;
  bottom: 0;
  width: 35%;
  margin: 0 auto;
  height: 20svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 101;
}

.productcart {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 2rem;
  max-height: 25rem;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: center;
  align-items: center;
}

.cartcomponentmain.slide-in {
  right: 0;
}

.cartcomponentmain.slide-out {
  right: -100%;
}

.delete-product {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: .5rem;
}

.productcart {
  display: flex;
  grid-template-rows: 1fr 1fr;
  width: 90%;
  height: 25svh;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: center;
  align-items: center;
}

.cart-middle {
  display: grid;
  align-items: center;
  justify-content: center;
}

.product-name {
  width: 7rem;
}

.cartproducttext {
  text-align: center;
  justify-content: center;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: auto;
  margin-bottom: auto;
}

.carttitle {
  position: relative;
  margin-top: 2rem;
  margin-left: 2rem;
}

.quantitybuttonwidth {
  width: 1rem;
  margin-bottom: 1rem;
}

.cartproductimages {
  position: relative;
  align-self: flex-start;
  max-width: 7rem;
}

@media (max-width: 1024px) {
  .productcart {
    gap: 3rem;
  }

  .cartcomponentmain {
    width: 100%;
  }

  .checkout {
    width: 100%;
  }

  .cartproductimages {
    max-width: 5rem;
  }

  .delete-product {
    width: 17px;
    height: 17px;
  }

  .cartproducttext {
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

@media (max-width: 500px) {
  .productcart {
    gap: 0rem;
  }
}