footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  height: 10rem;
  padding: 2rem;
}

.footer-links {
  color: white;
  text-decoration: none;
  display: flex;
  gap: 2rem;
}

.footer-links a {
  color: white;
  text-decoration: none;
}

.footer-right {
  color: white;
}
