header {
  overflow-x: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    height: 9vh;
    color: black;
    text-decoration: none;
  }
  
  .headercontent {
    display: flex;
    align-items: center;
    width: 100%;
    margin-right: 10%;
    margin-left: 10%;
    text-decoration: none;
  }

  .header-links {
    transition: 0.8s;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    gap: 2rem;
  }

  .header-links a{
    color: black;
    text-decoration: none;
  }

  .logo{
    color: black;
    text-decoration: none;
  }

  .header-links-text:hover{
    text-decoration: underline;
  }

  @media (max-width: 960px) {
    .header-links {
      gap: 1.5rem;
    }
    .header-links-text{
      font-size: 1.3rem;
    }
  }

  @media (max-width: 768px) {
    .header-links {
      gap: 1.5rem;
    }
    .header-links-text{
      font-size: 1.1rem;
    }
  }

  @media (max-width: 550px) {
    .header-links {
      gap: 1rem;
    }
  }
  @media (max-width: 480px) {
    .headercontent{
      margin-left: 5%;
      margin-right: 5%;
    }

    .header-links {
      gap: 0.75rem;
    }
  }
  