.ourproducts {
    margin-top: 3rem;
    text-align: center;
  }
  
  .gridproducts {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin-top: 3rem;
    gap: 1rem;
  }
  
  .mainproducts {
    grid-template-columns: auto;
    color: black;
    text-decoration: none;
  }
  
  .productimages {
    width: 90%;
    height: auto;
  }
  
  .productimages:hover {
    filter: brightness(80%);
  }
  .productimages1:hover {
    filter: brightness(80%);
  }
  .productimages2:hover {
    filter: brightness(80%);
  }
