.productdetail {
  display: flex;
  width: auto;
  height: auto;
  margin-top: 8rem;
  margin-bottom: 6rem;
  margin-left: 1rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

.slick-dots li{
  display: none;
}

.photo-count{
  margin-top: .5rem;
  text-align: center;
  width: auto;
}

.buycart-buttons{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.productimages1 {
  max-width: 100%;
  max-height: 35rem;
  height: auto;
  margin: 0 auto;
}

.productdetailslider{
  height: 100%;
  width: 30%;
}

.productdetailtext {
  width: 100%;
  height: auto;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 1rem;
  margin-right: 1rem;
}

.details-container {
  display: flex;
  gap: 1rem;
}


@media only screen and (max-width: 1000px) {
  .productdetail{
    margin-top: 7rem;
    margin-left: 0rem;
    margin-right: 0rem;
    display: block;
  }
  .productdetailslider {
    display: block;
    margin: 0 auto;
    width: 70%;
  }
  .productdetailtext{
    display: block;
    width: auto;
    margin-top: 2.5rem;
  }
  .cartbuttons-container{
    display: flex;
    justify-content: center;
  }
}